<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<div th:replace="~{nav/lineup.html::menu}"></div>

<form action="/member" method="POST">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <input name="a_m_id" placeholder="아이디">
    <input name="a_m_pw" type="password">
    <input name="a_m_name" placeholder="이름">
    <input name="a_m_gender" placeholder="성별">
    <input name="a_m_mail" placeholder="이메일">
    <input name="a_m_phone" placeholder="전화번호">
    <button type="submit">전송</button>
</form>

<body>
<p>회원가입 준비중</p>
</body>
</html>
