<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/main.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>


<div th:replace="~{nav.html::navbar}"></div>


<div class="card" th:each="iii : ${items}">
    <img src="http://placehold.co/300">
    <div>
    <h4 th:text="${iii.title}"></h4>
    <h4 th:text="${iii.price}"></h4>
        <a th:href="@{ '/edit/' + ${iii.id} }">✏️</a>
        <!--
        <form th:action="@{'/delete/' + ${iii.id}}" method="POST">
            <button type="submit">삭제</button>
        </form>
        -->

       <span th:onclick="fetch('/delete?id=[[${iii.id}]]', { method : 'DELETE'})">🗑️</span>


        <!--
         .then(r => r.text())
        .then() => {
            location.reload();
        })
        -->
        <!--보낼 자료가 arry나 map이면 json, 문자면 text-->
        </div>
    </div>
</div>


</body>
</html>